@import "variables";

html, body {
    background-color: #fff;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 100vh;
}

.full-height {
    height: 100vh;
}

.bg-light {
    background: $baklawa-green !important;
}

.bg-light-gradient {
    background: rgb(175, 219, 157);
    background: linear-gradient(90deg, rgba(175, 219, 157, 1) 16%, rgba(215, 237, 206, 1) 86%);
}

.text-dark {
    color: $baklawa-blue !important;
}

.text-light {
    color: $baklawa-green !important;
}

.navigation {
    min-width: 280px !important;
    background: $baklawa-blue !important;
    z-index: 100;
    color: white !important;
    box-shadow: 0 7px 22px 0 rgba(0, 0, 0, .2), 0 2px 30px 0 rgba(0, 0, 0, .35);

    a {
        margin: 5px;
        list-style: none;
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        color: white;
    }

    p {
        margin: 0;
        color: white;
        white-space: nowrap;
    }

    li.active a {
        background: $baklawa-green;
        border-radius: 30px;
    }

    li.active p {
        color: $baklawa-blue !important;
    }
}


.header-lrg {
    height: 350px;
}

.header-sm {
    height: 135px;
}

.bg-round {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $baklawa-green;
    color: $baklawa-blue;
    font-weight: bolder;
}

.box-shadow {
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
}

.content {
    margin-top: -30px;
    padding: 0 30px 30px;
}

.divider {
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
}

.table th {
    border-top: none;
    font-size: large;
}

.page-link {
    line-height: 1 !important;
}

.pagination {
    li > a {
        background-color: white;
        color: #5A4181;
        border: none;
        line-height: 1 !important;
    }

    li > a:focus,
    li > a:hover,
    li > span:focus,
    li > span:hover {
        color: #5a5a5a;
        background-color: #eee;
        border-radius: 50% !important;
    }

    .active > a {
        color: white;
        border-radius: 50% !important;
        background-color: $baklawa-blue !Important;
    }

    .active > a:hover {
        background-color: $baklawa-blue !Important;
    }
}

.dropdown {
    .dropdown-menu {
        border-radius: .25rem !important;
        margin: .225rem 0 0 !important;
        padding: 0 !important;

        a {
            padding: .375rem .75rem;
        }
    }

    button {
        min-width: 130px !important;
    }
}

.pending {
    background: #636b6f !important;
}

.confirmed {
    background: #3CB371 !important;
}

.cancelled {
    background: indianred !important;
}

.text-pending {
    color: #636b6f !important;
}

.text-confirmed {
    color: #3CB371 !important;
}

.text-cancelled {
    color: indianred !important;
}

.stats {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

    div {
        flex: 0 0 24%;
        max-width: 24%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 5px;
    }

    .stats-booking {
        background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
        padding: 30px 20px;
        color: #fff;
        border-radius: 40px;
    }

    .stats-menu-breakfast,
    .stats-menu-dinner,
    .stats-menu-buffet,
    {
        background: linear-gradient(90deg, #83b828 16%, #04aa93 52%, #00d4ff 75%);
        padding: 10px 5px;
        color: #fff;
        border-radius: 40px;
    }
}
